//
   Created by fy on 15-9-4.
extends ../layout_nomenu

block content
    style.
        .modal-footer {
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .bootbox-body {
            margin-bottom: -20px;
            height: 300px !important;
            overflow: hidden !important;
        }
    .main-content
        #breadcrumbs.breadcrumbs
            script(type='text/javascript').
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            ul.breadcrumb
                li
                    i.icon-home.home-icon
                    a(href='#') Home
                li
                    a(href='#') Tables
                li.active jqGrid plugin
            // .breadcrumb
            #nav-search.nav-search
                form.form-search
                    span.input-icon
                        input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                        i.icon-search.nav-search-icon
            // #nav-search
        .page-content
            .page-header
            // /.page-header
            .row
                .col-xs-12
                    // PAGE CONTENT BEGINS
                    .alert.alert-info(style="display:block;")
                        i.icon-hand-right
                        | 上传的压缩包必须满足一定格式，请下载下面的安装包进行参照，另外建议在晚上进行批量上传
                        button.close(data-dismiss='alert')
                            //i.icon-remove
                    form#import-form-id
                        table.searchTable
                            tr
                                td
                                    | 选择压缩包：
                                td
                                    input#file.col-xs-10.col-sm-5.form-control.input-md(type='file' , name='file', placeholder='请选择文件')
                                td
                                    button#batchBtn.btn.btn-info.btn-sm(type='submit')
                                        i.icon-ok.bigger-110
                                        | 上传
                                    a.pull-right#btn-download-user-template-id(href="zip/zip-upload-template.zip",style="margin-top:5px;margin-left:30px;width:180px;")
                                        i.bigger-110
                                        | 压缩包参考例子下载
                        .progress.progress-striped.active.hide
                            .progress-bar(role="progressbar", style="width: 1%;")
                        .alert.hide
                            button.close(type='button', data-dismiss='alert') x
                            span
                                strong.message
                    //span 方案二:跟方案一的最大区别是，方案二，是通过文件名称来进行处理的，举例：铁人精神.png,铁人精神.pdf
                    //br
                    //div#dropzone
                    //  form.dropzone(action="import")
                    //    label 请先选择图书分类：
                    //    select.col-xs-12.clo-sm-12(sytle='width:180px;',name='categoryId',placeholder='')
                    //      option(value='') 全部
                    //      each co in categoryOptions
                    //        option(value='#{co.id}')= co.name
                    //    div.fallback
                    //      input(type="file",name=file,multiple=false)
                    //  button.btn.btn-primary(type="button",onclick="alert('还未实现')")
                    //    i.icon-ok.bigger-110
                    //      | 上传
                    hr
                    div#output(style="height:300px;overflow:scroll;")
                    script(type='text/javascript').
                        var $path_base = "/";//this will be used in gritter alerts containing images
                    // PAGE CONTENT ENDS
                // /.col
            // /.row
        // /.page-content
    // /.main-content
    style.
        .modal-body > div {
            height: 500px;
            overflow: scroll;
        }
    script.
        $(function () {
            var importUrl = 'import/zip';
            var importAfterUrl = 'import/zipAfter';

            $('#import-form-id').on('submit', function (evt) {
                $(window).on('beforeunload', function () {
                    return '正在处理中，离开页面会终止处理，确定离开页面吗？';
                })
                $('#batchBtn').hide();
                evt.preventDefault();

                $('.progress').removeClass('hide');
                var formData = new FormData();
                var file = document.getElementById('file').files[0];
                formData.append('file', file);

                var xhr = new XMLHttpRequest();

                xhr.open('POST', importUrl, true);

                xhr.upload.onprogress = function (e) {
                    if (e.lengthComputable) {
                        var percentage = (e.loaded / e.total) * 100;
                        $('.progress .progress-bar').css('width', percentage + '%');
                    }
                };

                xhr.onerror = function (e) {
                    showInfo('An error occurred while submitting the form. Maybe your file is too big');
                };

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        $('.alert').removeClass('hide');
                        $('.alert').addClass('alert-success');
                        $('.message').text('上传成功！');
                        $('.progress').replaceWith('<span style="color:darkgreen;">压缩包上传成功</span><span>，开始后续处理，处理时间较长，请耐心等待完成，下面是实时处理进度：</span>');

                        var html = '<div style="display: block;">' +
                                '<iframe id="file_zip_iframe" name="file_zip_iframe" width="0" height="0"></iframe>' +
                                '<form class="form-horizontal" action="' + importAfterUrl + '" method="post" target="file_zip_iframe">' +
                                '<input type="hidden" name="path" value="' + xhr.responseText + '"/>' +
                                '</form>' +
                                '</div>';

                        $(html).appendTo(document.body).find('form').trigger('submit');
                    } else {
                        $('.alert').removeClass('hide');
                        $('.alert').addClass('alert-danger');
                        $('.message').text('出错了……');
                    }

                };

                xhr.send(formData);

            });

        });

        /**
         *
         */
        var finishCallback = function (status) {
            var msg = '处理失败', color = 'red';
            if (status) {
                msg = '处理已结束', color = 'green';
            } else {
                $('#batchBtn').show();
            }
            $(window).unbind('beforeunload');
            $('#output').append('<div style="color:' + color + ',font-size:30px;">' + msg + '</div>');
            alert(msg)
        };

        var itemCallback = function (title, isOk) {
            var msg = title + '处理失败';
            var color = 'red';
            if (isOk) {
                msg = title + '处理完成';
                color = 'green';
            }
            $('#output').append('<div style="' + color + '">' + msg + '</div>');
        };

        var progress = function (title, progress) {
            var old = $('#my-id-' + title);
            if (old.size() == 0) {
                $('#output').append('<div id="my-id-' + title + '">' + title + '　已完成　' + progress + '</div>');
            } else {
                old.text('' + title + '　已完成　' + progress);
            }
        };

        /**
         * 显示导入用户的消息
         */
        var showMessage = function (msg) {
            $('#message-id').append('<div>' + msg + '</div>');
        };

        /**
         * 导入进度的方法
         */
        var importProgress = function (progress) {
            $('#progress-id').show().attr('data-percent', progress);
            $('#progress-bar-id').css('width', progress);
        };

