//
   Created by Administrator on 2016/1/21 0021.
style.
    .gundong {
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 27px;
        font-family: "黑体";
        font-weight: bold;
        background: white;
        color: black;
    }
.gundong
    marquee(direction='left', behavior='scroll', onmouseover='this.stop()', onmouseout='this.start()')
        | 游戏中请将手机静音，不要随意出入，在局玩家不得离开房间，尊重玩家发言，不要有任何场外行为，良好的游戏环境需要靠大家一起来维护。

