//
   Created by yinbin on 2015/9/5.
extends layout_login
block content
    //.login-layout
    img(src='assets/images/500.png',  style='width:60%;margin-left:20%;margin-top:5%;')
    //center(style="margin-top:100px;font-size:25px;")     发生错误，请返回重试或联系管理员！！
