//
   Created by yinbin on 2015/9/4.

doctype html
html(lang='en')
    head
        base(href='/')
        meta(charset='utf-8')
        title 狼人杀游戏系统
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        // basic styles
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
        //if IE 7
            link(rel='stylesheet', href='/assets/css/font-awesome-ie7.min.css')
        // page specific plugin styles
        // fonts
        // ace styles
        link(rel='stylesheet', href='/assets/css/ace.min.css')
        link(rel='stylesheet', href='/assets/css/ace-rtl.min.css')
        //if lte IE 8
            link(rel='stylesheet', href='/assets/css/ace-ie.min.css')
        // inline styles related to this page
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE
            script(src='/assets/js/html5shiv.js')
            script(src='/assets/js/respond.min.js')
        script.

    body(style="overflow:hidden;")
        block content

