//
   Created by FY on 2016/1/20.

extends layout_nomenu

block append script
    script.
        window.setInterval(function () {
            var isMsg = window.localStorage.getItem('_is_msg');
            if (isMsg == 1) {
                window.localStorage.removeItem('_is_msg');
                var html = window.localStorage.getItem('_html');
                document.getElementById('target').innerHTML = decodeURIComponent(html);
            } else if (isMsg == 2) {
                window.close();
            }
        }, 500);

block content
    #target
