script(src='/service/api/service.js/helper.js')
script var ApiService = new ApiService('/service/api/service.js');

script(src='/service/book/category.js/helper.js')
script var BookCategory = new BookCategory('/service/book/category.js');

script(src='/service/book/pdf.js/helper.js')
script var BookPdf = new BookPdf('/service/book/pdf.js');

script(src='/service/checkout/index.js/helper.js')
script var CheckoutIndex = new CheckoutIndex('/service/checkout/index.js');

script(src='/service/goods/index.js/helper.js')
script var GoodsIndex = new GoodsIndex('/service/goods/index.js');

script(src='/service/import/index.js/helper.js')
script var ImportIndex = new ImportIndex('/service/import/index.js');

script(src='/service/member/index.js/helper.js')
script var MemberIndex = new MemberIndex('/service/member/index.js');

script(src='/service/room/index.js/helper.js')
script var RoomIndex = new RoomIndex('/service/room/index.js');

script(src='/service/settings/index.js/helper.js')
script var SettingsIndex = new SettingsIndex('/service/settings/index.js');

script(src='/service/storage/index.js/helper.js')
script var StorageIndex = new StorageIndex('/service/storage/index.js');

script(src='/service/user/index.js/helper.js')
script var UserIndex = new UserIndex('/service/user/index.js');
