script(src="/javascripts/fragment/add.js")
script(src="/javascripts/fragment/addMemberInfo.js")
script(src="/javascripts/fragment/addStorageInfo.js")
script(src="/javascripts/fragment/audio.js")
script(src="/javascripts/fragment/checkout.js")
script(src="/javascripts/fragment/dahuaxiaoben.js")
script(src="/javascripts/fragment/editCheckoutInfo.js")
script(src="/javascripts/fragment/editGoodsInfo.js")
script(src="/javascripts/fragment/editMemberInfo.js")
script(src="/javascripts/fragment/editStorageInfo.js")
script(src="/javascripts/fragment/editUserInfo.js")
script(src="/javascripts/fragment/flow.js")
script(src="/javascripts/fragment/flowItem.js")
script(src="/javascripts/fragment/gameOver.js")
script(src="/javascripts/fragment/info.js")
script(src="/javascripts/fragment/kaijianscreen.js")
script(src="/javascripts/fragment/langren.js")
script(src="/javascripts/fragment/nvwu1.js")
script(src="/javascripts/fragment/nvwu2.js")
script(src="/javascripts/fragment/nvwu3.js")
script(src="/javascripts/fragment/open.js")
script(src="/javascripts/fragment/option.js")
script(src="/javascripts/fragment/punch.js")
script(src="/javascripts/fragment/ruzuoscreen.js")
script(src="/javascripts/fragment/shopInGame.js")
script(src="/javascripts/fragment/shopNotInGame.js")
script(src="/javascripts/fragment/shopping.js")
script(src="/javascripts/fragment/toupiao1.js")
script(src="/javascripts/fragment/toupiao4.js")
script(src="/javascripts/fragment/toupiao5.js")
script(src="/javascripts/fragment/toupiao8.js")
script(src="/javascripts/fragment/update.js")
script(src="/javascripts/fragment/yuyanjia2.js")
