//
   Created by fy on 15-9-4.
extends ../layout_nomenu

block content
    style.
        .modal-footer {
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .bootbox-body {
            margin-bottom: -20px;
            /*height: 370px !important;*/
            overflow: hidden !important;
        }
    .main-content
        #breadcrumbs.breadcrumbs
            script(type='text/javascript').
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            ul.breadcrumb
                li
                    i.icon-home.home-icon
                    a(href='#') Home
                li
                    a(href='#') Tables
                li.active jqGrid plugin
            // .breadcrumb
            #nav-search.nav-search
                form.form-search
                    span.input-icon
                        input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
                        i.icon-search.nav-search-icon
            // #nav-search
        .page-content
            .page-header
            // /.page-header
            .row
                .col-xs-12
                    // PAGE CONTENT BEGINS
                    form#search-form-id
                        table.searchTable
                            tr
                                td
                                    | PDF文件名：
                                td
                                    input.col-xs-10.col-sm-5(type='text' , name='name', placeholder='')
                                td
                                    | 状态：
                                td
                                    //0：失效，1：有效
                                    select.col-xs-12.col-sm-10(style="width:180px;", name='status',placeholder='')
                                        option(value='') 全部
                                        option(value='0') 无效
                                        option(value='1') 有效
                                td
                                    | 分类:
                                td
                                    select.col-xs-12.clo-sm-10(sytle='width:180px;',name='categoryId',placeholder='')
                                        option(value='') 全部
                                        each co in categoryOptions
                                            option(value='#{co.id}')= co.name
                                td
                            tr
                                td
                                    | 创建起始日期：
                                td
                                    input.date.form-control(type="text",name="beginDate",data-date-format="yyyy-mm-dd")
                                td
                                    | 创建结束日期：
                                td
                                    input.date.form-control(type="text",name="endDate",data-date-format="yyyy-mm-dd")
                                td
                                td
                                    button.btn.btn-info.btn-sm(type='submit')
                                        i.icon-ok.bigger-110
                                        |                                     搜索
                                    button.btn.btn-sm(type='reset')
                                        i.icon-undo.bigger-110
                                        |                                     重置
                    // TODO
                    .alert.alert-info(style='display: none;')
                        i.icon-hand-right
                        |                     专业报名人数：
                        span#zybmrs-id
                        | 人
                        button.close(data-dismiss='alert', style='display: none;')
                            i.icon-remove
                    button#btn-add-pdf-id.btn.btn-info.btn-sm(onclick="addPdf(this)",style="margin-bottom:5px;width:180px;")
                        i.icon-plus.bigger-110
                        |                                     新建图书
                    table#grid-table
                    #grid-pager
                    script(type='text/javascript').
                        var $path_base = "/";//this will be used in gritter alerts containing images
                    // PAGE CONTENT ENDS
                // /.col
            // /.row
        // /.page-content
    // /.main-content
    script(type='text/javascript',src="javascripts/book/pdf.js")
    script(type="text/javascript") pdfPageInit();
