//
   Created by fy on 15-12-22.
extends ../layout_nomenu

block content
    .main-content
        .page-content
            form#search-form-id
                table.searchTable
                    tr
                        td 房间号：
                        td
                            input.col-xs-10.col-sm-5(type='number' , name='code', placeholder='请输入您的房间号')
                        td
                        td
                    tr
                        td 状态：
                        td
                            select#status.col-xs-12.clo-sm-10(style="width:180px;", name='status',placeholder='')
                                option(value='') 全部
                                option(value='0') 空闲
                                option(value='1') 游戏中
                        td
                        td
                            button.btn.btn-info.btn-sm(type='submit')
                                i.icon-ok.bigger-110 搜索
                            button.btn.btn-sm(type='reset')
                                i.icon-undo.bigger-110 重置
            div
                button#btn-add-category-id.btn.btn-info.btn-sm(onclick="addRoom(this)",style="margin-bottom:5px;width:180px;")
                    i.icon-plus.bigger-110 增加房间
            table#grid-table
            #grid-pager
    script(type='text/javascript',src="javascripts/room/index.js")
